*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background: url('https://images.unsplash.com/photo-1634979149798-e9a118734e93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');
    height: 500px;
    background-size: cover;
    background-position: center;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

nav a{
    color: white;
    text-decoration: none;
}

.logo a{
    font-size: 24px;
}

.header-info{
    margin-top: 5rem;
    /* border: 1px solid red; */
    width: 500px;
}

.header-info h3{
    font-size: 3rem;
    font-weight: lighter;
}

.header-btn {
    margin-top: 1rem;
}

.header-btn input{
    padding: 0.5rem;
    width: 230px;
    border: none;
    border-radius: 5px;
}

.header-btn button{
    padding: 0.5rem;
    width: 150px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
}

/* end header */

/* about */
.about{
    text-align: center;
    padding: 3rem 0;
}

.about-con{
    padding: 0 10rem;
}

.about-title {
    color: navy;
    font-size: 2rem;
}

.about-desc{
    color: #808080;
    margin: 1rem 0;
}

.about-img{
    margin: 2rem 0;
}
/* end about */

/* pricing */
.pricing{
    background-color: rgb(194, 194, 194);
    color: black;
    text-align: center;
    padding: 2rem 0;
}

.pricing-info h3{
    font-weight: lighter;
    font-size: 2rem;
}

.pricing-info p{
    margin: 1rem 0;
}

.pricing-table{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.pricing-box{
    background: white;
    color: black;
}

.pricing-box-title{
    background-color: #e4e4e4;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.pricing-box-info{
    padding: 1rem ;
}

.pricing-box-info p{
    margin: .5rem 0;
}

.price-blue{
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
}

.pricing-more-info{
    margin-top: 2rem;
    display: inline-block;
    background-color: rgb(243, 241, 100);
    padding: 1rem;
    width: 100%;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}
/* end pricing */

/* clients */
.clients{
 padding: 3rem 0;
 text-align: center;
}

.clients-title h3{
    color: #000;
    font-size: 2rem;
    font-weight: lighter;

}

.clients-title p{
    color: #000;
    margin: 1rem 0;
}

.clients-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    text-align: left;
}

.clients-img {
   display: flex;
   align-items: center;
   margin-top: 2rem;
}

.clients-img img{
    width: 30%;
    border-radius: 100%;
    margin-right: 1rem;
}

/* end clients */

/* news */
.newsletter{
    background: url('https://plus.unsplash.com/premium_photo-1678112179637-c49ab8b21ae6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    height: 250px;
}

.newsletter-title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: white;
}

.newsletter-title h3{
    font-size: 2rem;
    font-weight: lighter;
}

.newsletter-title input{
    padding: 0.5rem;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
}

.newsletter-title button{
    padding: 0.5rem;
    width: 150px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
}
/* end news */

/* footer */
footer{
    background-color: yellow;
    padding: 1rem;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-menu a{
    color: white;
    text-decoration: none;
}

.footer-menu ul{
    list-style: none;
    display: flex;
}

.footer-menu li{
    margin-right: 1rem;
}

.footer-menu ul li a{
    text-transform: uppercase;
    font-size: 14px;
}
/* end footer */